@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.scrollbar-transparent::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background: transparent; /* Nền thanh cuộn trong suốt */
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Màu con lăn */
  border-radius: 9999px; /* Bo tròn con lăn */
}

.scrollbar-transparent::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Đậm hơn khi hover */
}
.line {
  background: linear-gradient(
    90deg,
    rgba(127, 127, 127, 0) 0%,
    rgba(127, 127, 127, 0.4) 2%,
    rgba(127, 127, 127, 0.4) 98%,
    rgba(127, 127, 127, 0) 100%
  );
}
.shadowname {
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
}

.shadow {
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgb(16, 16, 16, 0.612);
}
.switch-wrapper-sun-moon input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.switch-wrapper-sun-moon *,
.switch-wrapper-sun-moon ::after,
.switch-wrapper-sun-moon ::before {
  box-sizing: border-box;
}

.switch-wrapper-sun-moon .switch-sun-moon {
  --width-of-switch: 3em;
  --height-of-switch: 1.5em;
  --size-of-icon: 1.2em;
  --slider-offset: 0.35em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

.switch-wrapper-sun-moon .slider-sun-moon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #71d446; /* ban ngày - nền sáng vàng kem dịu */
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  border-radius: 30px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

.switch-wrapper-sun-moon .slider-sun-moon:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ffd700, #ffd700 70%);
  transition: 0.4s;
}

.switch-wrapper-sun-moon input:checked + .slider-sun-moon {
  background-color: #8774e1;
}

.switch-wrapper-sun-moon input:checked + .slider-sun-moon:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #8774e1;
  box-shadow: inset -3px -2px 5px -2px #ffd700, inset -10px -4px 0 0 #ffd700;
}
